.motionNav {
  position: relative;
  width: 20px;
  height: 20px;
  z-index: 1000;
}

.background {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: hsl(var(--card));
  overflow-y: scroll;
}

.motionButton {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 2px;
  right: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: transparent;
}

.motionUl,
.motionLi {
  margin: 0;
  padding: 0;
}

.motionUl {
  padding: 25px;
  /* position: absolute;
  right: 0;
  top: 50px; */
  margin-top: 50px;
  width: 100vw;
}

.motionLi {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.motionLi>ul {
  border-inline-end: 0 !important;
}

.iconPlaceholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
}

.text-placeholder {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}